<footer class="footer">
  <div class="container">
    <div class="row">
          <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
            <div class="footer-widget">
            		<h4 class="mb-4">SHOPIFY</h4>
            		<p class="lead"> The first online store for original branded clothes in Tunisia </p>
              	
              	<div class="">
              		<p class="mb-0"><strong>Location : </strong>Avenue Farhat Hachad 2240 ,Tozeur,Tunisia</p>
              		<p><strong>Support Email : </strong> shopifytozeur@email.com</p>
              	</div>
            </div>
          </div>

          <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
          	<div class="footer-widget">
              <h4 class="mb-4">Category</h4>
              <ul class="pl-0 list-unstyled mb-0">
                <li><a href="/men">Men's Fashion</a></li>
                <li><a href="/women">Women's Fashion</a></li>
              </ul>
          </div>
          </div>

          <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
          	 <div class="footer-widget">
              <h4 class="mb-4">Useful Link</h4>
              <ul class="pl-0 list-unstyled mb-0">
                <li><a href="/about">About Us</a></li>
                <li><a href="/shop">Our Shop</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
         	 	</div>
          </div>

          <div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
          	 <div class="footer-widget">
              

              <h5>Call Now : +(216) 76-100-200</h5>
            </div>
          </div>
       </div>
  </div>
</footer>


<div class="footer-btm py-4 ">
  <div class="container">
    <div class="row ">
       	<div class="col-lg-6">
       		<p class="copyright mb-0 ">@ Copyright Reserved to Addinn &amp; made by <a href="https://addinn.com/">Addinn</a></p>
       	</div>
       	<div class="col-lg-6">
       		 <ul class="list-inline mb-0 footer-btm-links text-lg-right mt-2 mt-lg-0">
                <li class="list-inline-item"><a href="/privacypolicy">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="/terms">Terms &amp; Conditions</a></li>

              </ul>
       	</div>
       </div>
  </div>
</div>