#form{
    
    left: 100px;
    width: fit-content;
    margin: 5%;
    margin-right: auto;
    margin-top: auto;
}
#manipulate {
    position:absolute;
    width:300px;
    height:auto;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
}